<form [formGroup]="login" (ngSubmit)="getUser()">
  <div>
    <!--
      Utilizando o ngClass nos inputs para setar a classe de erro quando estabelecida a condição!
     -->
    <input
      [ngClass]="{
        erro: login.get('email')?.invalid && login.get('email')?.dirty
      }"
      type="email"
      placeholder="Email"
      formControlName="email"
      autocomplete="off"
    />
    <!--
      Renderizando o texto de erro quando estabelecida a condição para cada input!
     -->
    @if (login.get('email')?.invalid && login.get('email')?.dirty) {
    <p class="erro-text">Insira um email válido!</p>
    }
  </div>
  <div>
    <!--
      Utilizando o ngClass nos inputs para setar a classe de erro quando estabelecida a condição!
     -->
    <input
      [ngClass]="{
        erro: login.get('password')?.invalid && login.get('password')?.dirty
      }"
      type="password"
      placeholder="Senha"
      formControlName="password"
    />
    <!--
      Renderizando o texto de erro quando estabelecida a condição para cada input!
     -->
    @if (login.get('password')?.invalid && login.get('password')?.dirty) {
    <p class="erro-text">Insira uma senha válida!</p>
    }
  </div>
  <div>
    <label>
      <input type="checkbox" formControlName="saveUser" />
      <span></span>
      Salvar minhas credênciais
    </label>
  </div>
  <!--
    Envio do formulario so liberado quando verificado que o formulario esta valido!
   -->
  <input type="submit" value="Start Game" [disabled]="login.invalid" />
</form>
