@import "../../scss/variaveis.scss";

main {
  background: $primary-bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12%;

  height: 100vh;

  h1 {
    background: $primary-text-color;
    background-clip: text;

    color: transparent;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 3px;

    margin-bottom: 10px;
  }

  div {

    p {
      color: $secondary-text-color;
      text-align: center;
      font-size: 22px;

      &#textList {
        font-size: 18px;

        margin-bottom: 10px;
      }
    }
    ul {
      border: 1px solid $secondary-text-color;
      border-radius: 15px;
      list-style: none;

      color: $secondary-text-color;
      font-size: 14px;

      margin: auto;
      padding: 10px 15px;
      max-width: 350px;
      max-height: 393px;

      overflow-x: auto;

      li {
        background: $secondary-bg-color;
        border: 1px solid $tertiary-text-color;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        padding: 10px;
        margin: 10px 0;

        img {
          width: 30px;

          cursor: pointer;
        }
      }
    }

    button {
      background: $secondary-bg-color;
      border: 1px solid $tertiary-text-color;
      border-radius: 10px;
      display: block;

      color: $tertiary-text-color;
      font-size: 18px;

      padding: 10px 20px;
      margin: 20px auto auto auto;

      cursor: pointer;

      &:hover {
        border-color: $secondary-text-color;
        color: $secondary-text-color;
      }
    }
  }
}
