<main>
  <div>
    <h1>Seja bem vindo</h1>
    <!--
      Chamando nome do usuario.
     -->
    <p>{{ userLogin }}</p>
  </div>
  <div>
    <p id="textList">Listagem dos Usuários</p>
    <ul>
      <!--
        Renderizando a lista de acordo com a quantidado dos nomes recebido do banco de dados.
       -->
      @for (usr of user; track $index) {
      <li>
        {{ usr }}
        <img src="../../../assets/imgs/delete-user.svg" alt="Delete" (click)="deleteUser(usr)">
      </li>
      <!--
        Se nao recebido nenhum valor, retorna uma mensagem para informacao ao usuario.
       -->
      } @empty {
      <li>Nenhum cadastro recuperado</li>
      }
    </ul>
    <!--
      Botao para voltar para a pagina de login.
     -->
    <button type="button" (click)="returnLogin()">Voltar</button>
  </div>
</main>
<app-footer></app-footer>
