@import "app/scss/variaveis.scss";

@font-face {
  font-family: Jura;
  src: url(assets/fonts/Jura-font.woff);
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: Jura;

  scrollbar-width: thin;
  scrollbar-color: $secondary-text-color, $primary-bg-color;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background: $primary-bg-color;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: $secondary-text-color;
  border-radius: 50px;
}
